

.container{
    background-color: var(--white);
    width: 85vw;
    height: 75vh;
    margin: 8vh  auto;
    border-radius: 35px 35px 120px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputs{
    display: flex;
    align-items:baseline;
    justify-content: center;
    margin-top: 40px;
    width: 90%;
  
    
}
.container label{
    display: flex;
    flex-direction: column;
    width: 29%;
    margin: 1%;
}

.titleInput{
    display: block;
    color: var(--smokeyGrey);
}

.input{
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: 2px solid var(--lightGrey);
    color: var(--OffBlack);
    font-size: 1.7rem;
    padding: 0px 8px 0px 8px;
    
    
}

.input-error{
    border: 2px solid var(--primaryLightRed);
}

.errorMessage{
    display: block;
    font-size: 0.7rem;
    visibility: hidden;
}

.errorActive{
    visibility: visible;
    color: var(--primaryLightRed);
}

.division{
    margin-top: 40px;
   border-top: 2px solid var(--lightGrey);
   width: 80%;
   display: flex;
   justify-content: center;

}

.button{
    width: 60px;
    height: 60px;
    transform: translateY(-50%);
    background-color: var(--primaryPurple);
    border-radius: 50%;
    

}

.button:hover {
    background-color: var(--smokeyGrey);
    
}

.container_result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    width: 100%;

}

.container_result div{
    color: var(--OffBlack);
    font-size: 300%;
    width: 100%;
    margin-left:40px;

}

.container_result div span{
    color: var(--primaryPurple);
    margin-right: 10px;
}

